// VARS
@bar-width: 100px;

// STYLE
HTML, BODY {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  HEADER {
    
  }

  DIV#content {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #222;

    DIV#left-bar {
      background: #fff;
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100%;
      border-right: 2px solid black;
    }

    DIV#top-bar {
      background: #fff;
      position: absolute;
      top: 0;
      left: 0;
      border-bottom: 2px solid black;
      height: 100px;
      width: 100%;
    }
  }

  FOOTER {
    
  }
}

.icon {
  #truck {
    
  }
}


/* bar types */
.bar {
	height: 200px;

	-webkit-transition: width 1s;
	-moz-transition: width 1s;
	-o-transition: width 1s;
	-ms-transition: width 1s;
	transition: width 1s;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.truck.bar {
	border-width: 0px 210px 0px 364px;
	-moz-border-image: url(icons/truck.png) 0 210 0 364 stretch;
	-webkit-border-image: url(icons/truck.png) 0 210 0 364 stretch;
	-o-border-image: url(icons/truck.png) 0 210 0 364 stretch;
	border-image: url(icons/truck.png) 0 210 0 364 fill stretch;
}
.truck2.bar {
	border-width: 0px 210px 0px 364px;
	-moz-border-image: url(icons/truck.png) 0 210 0 364 repeat;
	-webkit-border-image: url(icons/truck.png) 0 210 0 364 repeat;
	-o-border-image: url(icons/truck.png) 0 210 0 364 repeat;
	border-image: url(icons/truck.png) 0 210 0 364 fill repeat;
}
