// VARS
@bar-width: 100px;

// STYLE
HTML, BODY {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  HEADER {
    
  }

  DIV#content {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #222;

    DIV#left-bar {
      background: #fff;
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100%;
      border-right: 2px solid black;
    }

    DIV#top-bar {
      background: #fff;
      position: absolute;
      top: 0;
      left: 0;
      border-bottom: 2px solid black;
      height: 100px;
      width: 100%;
    }
  }

  FOOTER {
    
  }
}

.icon {
  #truck {
    
  }
}
