// IMPORTS
@import "elements.less";

// VARS
@header-height: 50px;
@top-bar-height: 110px;
@left-bar-width: 120px;

@blue : #0B61A4;
@lightblue : lighten(@blue, 20%);
@darkblue : darken(@blue, 20%);
@yellow : #FFBF00;
@lightyellow : lighten(@yellow, 20%);
@darkyellow : darken(@yellow, 20%);
@orange : #FF4900;
@lightorange : lighten(@orange, 20%);
@darkorange : darken(@orange, 20%);

@background : #222;

// STYLE
HTML, BODY {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  HEADER {
    z-index: 2;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;

	H1 {
		background: white;
		/* border-bottom: 2px solid black; */
		margin: 0px;
		padding: 0px;
		text-align: center;
		height: 50px;
		position: relative;
		z-index: 10;
	}
	#docblock {
		position: absolute;
		left: 250px;
		right: 250px;
		top: @header-height;
		z-index: 9;
	}
	#docs {
		margin: 0px;
		padding: 0px;
		background: white;
		border: 2px solid black;
		border-top: 0px;
		border-radius: 0px 0px 8px 8px;

		P {
			margin: 0px;
			padding: 4px;
		}
	}
	.tab {
		position: absolute;
		bottom: -23px;
		left: 250px;
		right: 250px;
		text-align: center;
		font-size: 10px;

		background: white;
		border-radius: 0px 0px 8px 8px;
		padding: 4px 16px;

		border: 2px solid black;
		border-top: 1px solid #ddd;

		cursor: pointer;

		-webkit-transition: background 0.3s;
		-moz-transition: background 0.3s;
		-o-transition: background 0.3s;
		-ms-transition: background 0.3s;
		transition: background 0.3s;
	}
	.tab:hover {
		background: #eee;
	}
  }

  DIV#blackout {
  	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: black;
	z-index: 1;
	opacity: 0.8;
  }

  DIV#content {
  	z-index: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
	position: relative;

    DIV#left-bar {
      .gradient(@background, lighten(@background, 1%), @background);
      position: fixed;
      top: @top-bar-height + @header-height;
      left: 0;
      bottom: 0;
      width: @left-bar-width;
      border-right: 2px solid black;
      overflow: visible;
      padding: 5px 0 0 0;
      z-index: 500;
    }

    DIV#top-bar {
      .gradient(@background, lighten(@background, 1%), @background);
      position: fixed;
      top: @header-height;
      left: 0;
      border-bottom: 2px solid black;
      height: @top-bar-height;
      width: 100%;
      overflow: visible;
      z-index: 500;
    }

    DIV#rows {
      position: fixed;
      top: @top-bar-height + @header-height;
      left: @left-bar-width;
      right: 0;
      bottom: 0;
      overflow: scroll;
      z-index:400;
    }
  }

  FOOTER {
    
  }
}

.icon {
  .rounded(10px);
  height: 80px;
  width: 80px;
  margin: 10px 5px;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  cursor: pointer;
  overflow: visible;
  background-color: white;
  position: relative;

  &.enabled {
    background-color: @lightyellow;
  }
  
  .tooltip {
    left: 0 !important;
  }
}

.flag {
  .icon;
  margin: 5px 10px;
  
  &.enabled {
    background-color: @lightorange;
  }
  
  .tooltip {
    top: 0 !important;
    left: 90px !important;
  }
}

.row {
  min-height: 120px;
  min-width: 100%;
  position: relative;
  display: block;
  border-bottom: 1px solid #666;
  border-top: 1px solid #ccc;
  
  .remove {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    /* background-image: url("./img/icons/Greedo.png"); */
    background-size: 100%;
    pointer: cursor;
  }
}

.indicator {
  width: 80px;
  height: 100px;
  margin: 10px;
  display: inline-block;
  background-color: #eee;
  border-color: #eee;
  
  .rounded(10px);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
}

/* simpletip */
.tooltip {
  .rounded(10px);
  .drop-shadow(0, 1px, 2px, 0.8);
  position: absolute;
  background-color: @lightblue;
  color: rgba(255, 255, 255, 0.95);
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  padding: 15px;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}
